<!-- /templates/index.html -->

<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
                <!-- Bootstrap CSS -->
                <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
                    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
                        <title>Bot49</title>
                        <b><h1><div style="text-align: center;">Hello! My name is Bot49. </div></h1></b>
<p style="text-align: center">I’m an interactive resource to help you navigate around the UNC Charlotte campus,
    connect you to resources, and simply have a wonderful conversation with you.
    My message to you will be displayed on the right in a white box, while your messages to me
    will be on the right in a blue box. To interact with me, simply type in the message box below
    and let’s get started. For example, “How are you doing?” </p>
<br>

                        </head>
    <body>
        <div class="container h-100">
            <div class="row align-items-center h-100">
                <div class="col-md-8 col-sm-12 mx-auto">
                    <div class="h-100 justify-content-center">
                        <div class="chat-container" style="overflow: auto; max-height: 80vh">
                            <!-- chat messages -->
                        </div>
                        <form id="target">
                            <input class="input" type="text" value="" placeholder="Enter message..." id="input_message"/>
                            <input type="submit" hidden>
                                </form>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
        <script src="https://js.pusher.com/4.1/pusher.min.js"></script>
        <script src="{{ url_for('static', filename='custom.js')}}"></script>
    </body>
</html>

